/* Write your CSS here */
.liCl {
  list-style: none;
  margin: 10px;
}

.liBtn {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
