/* Write your CSS here */
* {
  margin: 0px;
  padding: 0px;
}

.liCL {
  list-style: none;
  margin: 10px;

  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px;
}

.imgCl {
  width: 80px;
  height: 80px;
}
